<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Tban</title>
  <link rel="icon" href="images/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="css/stylesheet.css">
</head>

<body>
  <nav>
    <ul>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">About me</a></li>
      <li><a href="#botn">Contact</a>
        <ul>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Email</a></li>
          <li><a href="#">Linkedin</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="top-container">
    <img class="top-cloud" src="images/cloud.png" alt="cloud">
    <h1>I'm Thaoban.</h1>
    <h2>a freelancer.</h2>
    <img class="bottom-cloud" src="https://media4.giphy.com/media/GFdPFhGL9UiUY5H98J/200w.webp?cid=ecf05e47svmxf452bkktj3jum1i5r4koovtk3jmjmmrenvhi&rid=200w.webp&ct=g" alt="cloud">
    <img class="camera-rolling" src="https://media3.giphy.com/media/QXG90AKH47o7mT4HhD/200w.webp?cid=ecf05e47su4mov3lfdwzs0d1ezach9j9evy9i2d6k5iv33kj&rid=200w.webp&ct=g" alt="video">
    <img class="mountain" src="https://media0.giphy.com/media/MT5UUV1d4CXE2A37Dg/200w.webp?cid=ecf05e47c18dscr614i8gywvtum5v8uvlq24zowaxv34pl3d&rid=200w.webp&ct=g" alt="mountain">

  </div>

  <div class="middle-container">
    <div class="profile">
      <img class="me" src="images/me.png" alt="">
      <h2>Hello.</h2>
      <p>I am a Cinematographer and a web developer. I am the founder of AT7 media.</p>
    </div>
    <hr>
    <div class="skills">
      <h2 class="My-skils">My Skills.</h2>
      <div class="skill-row">
        <img class="Design-img" src="https://media3.giphy.com/media/HscDLzkO8EOTmgkhQP/200w.webp?cid=ecf05e47aicflb0zu0346domnyg6aml82x0gxk6adbs0ezbg&rid=200w.webp&ct=g" alt="codes">
        <h3>Design & Development</h3>
        <p>I have always wanted to become a programmer as a kid because I wanted to build amazing softwares. Overtime, I have gained a wealth of knowledge in designing and developing websites. I learn everyday to gain knowledge on how to make
          websites and softwares work amazingly.</p>
      </div>
      <div class="skill-row">
        <img class="cinema" src="https://media1.giphy.com/media/J3ltIcF4G9WUnQLSee/200.webp?cid=ecf05e47xr7itvf8te3rsk2ku6t0dnm31txax71pb310h78k&rid=200.webp&ct=g" alt="camera">
        <h3 class="cinema-h3"> Cinematography and Visual Editing </h3>
        <p>I actually started appreciating the works of Cinematographers and visual editors (Videos, photography and graphics design) so I decide to take a course on it, of which I am certified right now.</p>
      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you found this interesting.</h3>
      <p class="last-p"> You want to shoot a commercial/movie or you want to capture an event? Let's talk about it while we build your website.</p>
      <a class="btn" id="botn" href="mailto:horlaryinka0@gmail.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/">Twitter</a>
    <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
    <p>© Alawiye 2022</p>
</body>

</html>
